body { font: 0.8em Arial;
/*line-height: 22px;*/
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
/*background: url(img/bg.png);*/
/*border-bottom: 2px solid #0071BC; 
border-top: 2px solid #0071BC; */
}
.curved {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior:url(border-radius.htc);
}
#div01 {
    background-color:#FFFFFF;
    border: #151616 solid 1px;
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top: 28%;
	left:33%;
	/*determinamos una anchura*/
	width:475px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin: 0 auto;
	/*determinamos una altura*/
	height:210px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	
	border:1px solid #5182fa;
	padding:5px;
	border:1px solid #5182fa; border-left:5px solid #5182fa; border-bottom:5px solid #5182fa;
	/* border-left:6px solid #8D8D8D; border-bottom:2px solid #8D8D8D;*/
	}
	#tab01 {
	text-font: Verdana; color:#5182fa;
	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	/*determinamos una anchura*/
	width:380px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	margin-left:-150px;
	/*determinamos una altura*/
	height:200px;
	/*indicamos que el margen superior, es la mitad de la altura*/
	margin-top:-100px;
	   
	/*border:1px solid #808080;*/
	}
	
	
input{

-moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 behavior:url(border-radius.htc);
border : 1px solid #d5e1fe;
/*font-family : "Courier New", Courier, monospace;*/
font-size : 14px;
padding-left : 6px;
padding-right : 25px;
}
input:focus{
    background-color: #fff;
    border-color: #ffff00;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

input2{
    padding: 10px 10px 10px 20px;
    margin: 0 0 10px 0;
    width: 253px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}